.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #cfd3df;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #cfd3df;
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}